{% extends 'base_auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
       <h1>register</h1>
    <div class="form-group"> 
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input', 'placeholder': 'Your Email'}}) }}
        </div>
       <div class="form-group">   
        {{ form_widget(registrationForm.plainPassword,{'attr': {'class': 'form-input', 'placeholder': 'Your Password'}}
        )}}
        </div>
         <div class="form-group">   
        {{ form_widget(registrationForm.CIN,{'attr': {'class': 'form-input', 'placeholder': 'Your CIN'}}
        )}}
        </div>
         <div class="form-group">   
        {{ form_widget(registrationForm.name,{'attr': {'class': 'form-input', 'placeholder': 'Your name'}}
        )}}
        </div>
        <div class="form-group">   
        {{ form_widget(registrationForm.roles,{'attr': {'class': 'form-input', 'placeholder': 'Your name'}}
        )}}
        </div>
        <div class="form-group">   
        {{ form_widget(registrationForm.CV,{'attr': {'class': 'form-input', 'placeholder': 'Your CV'}}
        )}}
        </div>
       <div class="form-group">       
       {{ form_row(registrationForm.agreeTerms) }}
      </div>
      <div class="form-group"> 
        <button type="submit" class="form-submit">Register</button>
       </div>
    {{ form_end(registrationForm) }}
     <p class="loginhere">
                               Have already an account ? <a href="/login" class="loginhere-link">Login in</a>
                          </p>
{% endblock %}
