{{ form_start(form) }}
<div class="grix xs4 container">
		<div class="col-xs4">
  
    {{ form_row(form) }}
    {{ form_widget(form.valider, { 'attr' : {'style':'display:none'} } )  }}
    <button class="btn">{{ button_label|default('Save') }}</button>

</div>  
</div>  
{{ form_end(form) }}
