{% extends 'home/base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
<div class="container">
    <h2>catégorie</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.titre }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
