{% extends 'home/base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="container">
    <div class="table-responsive">
    <h2>Candidature</h2>
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6" style="margin-left: 70%; padding: 2%">
                       
                    </div>
                </div>
            </div>
<table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Identifiant de candidat</th>
                <th>Offre</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td></td>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.user.getId() }}</td>
                <td>{{ candidature.getIdOffre().getContenu() }}</td>
                <td>{{ candidature.valider }}</td>
                <td>
                    <a href="{{ path('candidature_show', {'id': candidature.id}) }}" ><i class="material-icons" style="color:#27AE60">&#xE417;</i></a>
                  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
